[data-testid="data-testid Nav toolbar"],         /* Toolbar */
[data-testid="data-testid dashboard controls"],  /* Dashboard controls */
[data-overlay-container="true"],                 /* Grafana side mega-menu blur overlay */
[data-testid="data-testid navigation mega-menu"], /* Grafana side mega-menu */
header                                           /* Grafana top menu */
{
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}